
.template, .quote-form {
	display: none;
}
.quote {
	border: 1px solid #000;
	width: 60%;
	position: relative;
}

.quote-author, .delete-btn {
	border: none;
}

.delete-btn {
	position: absolute;
	bottom: 10px;
	right: 10px;
}